{% extends "base.html" %}

{% block content %}

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
    <title>{{ title }}</title>
</head>
<body>
	<section class="about">
		<h1>О НАС</h1>
		<p style="font-weight: bold">
		Начни с этого....
		</p>
		<div class="about-info">
			<div class="about-img">
				<img src="{{url_for('static', filename='img/logo.png')}}" alt="Geeksforgeeks">
			</div>
			<div>
			<p> Lorem Ipsum is a leading platform
				that provides computer science resources
				and coding challenges for programmers and
				technology enthusiasts,along with interview
				and exam preparations for upcoming aspirants.
				With a strong emphasis on enhancing coding skills
				and knowledge,it has become a trusted destination
				for over 12 million plus registered users worldwide.
			</p>
			</div>
		</div>
	</section>

	<section class="team">
		<h1>Команда проекта</h1>
		<div class="team-cards">
			<div class="card">
				<div class="card-img">
					<img src="{{url_for('static', filename='img/about/Dima.png')}}" alt="Dima">
				</div>
				<div class="card-info">
					<h2 class="card-name">Дмитрий Ряжских</h2>
					<button class="button"><a href="mailto:ryazhskikh.dima.76@mail.ru"><img src="{{ url_for('static', filename='img/about/email.png') }}" alt="email" style="width: 50px; height: 50px;"></a></button>
					<button class="button"><a href="https://vk.com/dimkaryaz"><img src="{{ url_for('static', filename='img/about/vk.png') }}" alt="vk" style="width: 50px; height: 50px;"></a></button>
					<button class="button"><a href="https://t.me/dimka_ryaz"><img src="{{ url_for('static', filename='img/about/tg.png') }}" alt="tg" style="width: 50px; height: 50px;"></a></button>
				</div>
			</div>

			<div class="card">
				<div class="card-img">
					<img src="{{url_for('static', filename='img/about/Matvey.png')}}" alt="Matvey">
				</div>
				<div class="card-info">
					<h2 class="card-name">Матвей Мягков</h2>
					<button class="button"><a href="mailto:mmv2100@yandex.ru"><img src="{{ url_for('static', filename='img/about/email.png') }}" alt="email" style="width: 50px; height: 50px;"></a></button>
					<button class="button"><a href="https://vk.com/matyshkoy"><img src="{{ url_for('static', filename='img/about/vk.png') }}" alt="vk" style="width: 50px; height: 50px;"></a></button>
					<button class="button"><a href="https://t.me/matyshkoy"><img src="{{ url_for('static', filename='img/about/tg.png') }}" alt="tg" style="width: 50px; height: 50px;"></a></button>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<p>© 2024 StartTeam. All Rights Reserved.</p>
	</footer>
</body>

{% endblock %}